variables:
  NETCORE_VERSION: '5.0.x'

resources:
  repositories:
    - repository: xamarin-templates
      type: github
      name: xamarin/yaml-templates
      endpoint: xamarin
      ref: refs/heads/main

trigger:
  branches:
    include:
    - main
  tags:
    include:
    - '*'

pr:
  autoCancel: true
  branches:
    include:
    - main

stages:
  - stage: build
    displayName: Build

    jobs:
        
      - job: Build_GuiUnitNg
        displayName: Build GuiUnitNg

        pool:
          ${{ if eq(variables['Build.SourceBranch'], 'refs/heads/main') }}:
            name: VSEngSS-MicroBuild2019
          ${{ if ne(variables['Build.SourceBranch'], 'refs/heads/main') }}:
            vmImage: windows-2019

        steps:
          - task: UseDotNet@2
            displayName: 'Install .NET SDK'
            inputs:
              version: $(NETCORE_VERSION)
              includePreviewVersions: false

          - task: MSBuild@1
            displayName: Build GuiUnitNg.sln
            inputs:
              solution: GuiUnitNg.sln
              configuration: Release
              msbuildArguments: '/r /m /bl'

          - task: CopyFiles@2
            inputs:
              contents: |
                **/SignList.xml
              targetFolder: '$(Build.ArtifactStagingDirectory)/nuget/unsigned'
              flattenFolders: true

          - task: CopyFiles@2
            displayName: Copy out nuget
            inputs:
              sourceFolder: '$(Build.SourcesDirectory)/GuiUnitNg/bin/Release'
              contents: '*.nupkg'
              targetFolder: '$(Build.ArtifactStagingDirectory)/nuget/unsigned'
              flattenFolders: true

          - template: sign-artifacts/steps/v2.yml@xamarin-templates
            parameters:
              sourceFolder: '$(Build.ArtifactStagingDirectory)/nuget/unsigned'
              targetFolder: $(Build.ArtifactStagingDirectory)/nuget/signed
              condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/main'))

          # publish the packages
          - task: PublishBuildArtifacts@1
            displayName: 'Publish Unsigned NuGets'
            inputs:
              artifactName: nuget
              pathToPublish: '$(Build.ArtifactStagingDirectory)/nuget'

          - task: CredScan@2
            displayName: Analyze source for credentials
            condition: always()
            inputs:
              toolMajorVersion: 'V2'
          - task: PoliCheck@1
            displayName: Run PoliCheck
            condition: always()
            inputs:
              inputType: 'Basic'
              targetType: 'F'
          - task: SdtReport@1
            displayName: Create security analysis report
            condition: always()
            inputs:
              AllTools: false
              APIScan: false
              BinSkim: false
              CodesignValidation: false
              CredScan: true
              FortifySCA: false
              FxCop: false
              ModernCop: false
              MSRD: false
              PoliCheck: true
              RoslynAnalyzers: false
              SDLNativeRules: false
              Semmle: false
              TSLint: false
              ToolLogsNotFoundAction: 'Standard'
          - task: PublishSecurityAnalysisLogs@3
            displayName: Publish security analysis logs
            condition: always()

          - task: TSAUpload@1
            displayName: Publish TSA logs
            condition: always()
            continueOnError: true
            inputs:
              tsaVersion: 'TsaV2'
              codebase: 'NewOrUpdate'
              tsaEnvironment: 'PROD'
              codeBaseName: 'Xamarin_GuiUnitNg'
              notificationAlias: 'stepsha@microsoft.com'
              notifyAlwaysV2: false
              instanceUrlForTsaV2: 'DEVDIV'
              projectNameDEVDIV: 'DevDiv'
              areaPath: 'DevDiv\Xamarin Tools'
              iterationPath: 'DevDiv\OneVS'
              uploadAPIScan: false
              uploadBinSkim: false
              uploadCredScan: true
              uploadFortifySCA: false
              uploadFxCop: false
              uploadModernCop: false
              uploadPoliCheck: true
              uploadPREfast: false
              uploadRoslyn: false
              uploadTSLint: false
              uploadAsync: true
